* {
background-color: grey ;
}

:root {
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
  --primary-color: #00F3FF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-row {
  display: flex;
  flex: wrap;
}

.space-between {
  justify-content: space-between;
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

header{

}

header nav {
  padding-top: var(--spacing-five);
  padding-right: var(--spacing-five);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: aqua;
}

li {
  list-style-type: none;
}

nav li {
  cursor: pointer;
  margin: 5px;
}

nav li a,
nav li span {
  font-size: 1em;
  padding: 5px;
}

.nav-active {
  text-decoration: underline !important;
  background-color: black;
  padding: 2px;
}


/* Work Styling */

#works {
	margin: 20px;
  position: relative;
  height: auto;
}

.projectImg {
	height: auto;
	width: 40vw;
	display: block;
  position: relative;
  border: solid var(--primary-color) 5px;
  border-radius: 25px;
  box-shadow:  0 0 10px rgb(0, 243, 255, .5);
}

.link-container {
	top: 50px;
	left: 25px;
  position: absolute;
  transition: .8s ease;
  opacity: 0;
  background: linear-gradient(rgba(0, 243, 255, 0.6), rgba(0, 135, 245, 0.8));
  border-radius: 15px;
  padding: 10px
}

.links {
  font-size: 3em;
}

#works:hover .projectImg {
  transition: 0.8s ease;
  opacity: 0.3;
}

#works:hover .linkContainer {
  opacity: 1;
  transition: 0.8s ease;
}

.project-name {
  color: black;
	margin-right: 20px;
	text-decoration: none;
}

.project-name:hover {
  background-color: var(--primary-color);
  padding: 2px;
  border-radius: 20px;
  transition: .8s;
  text-decoration: underline;
}


/* About Me Styling */
.headshot {
  height: 20em;
  border: solid var(--primary-color) 5px;
  border-radius: 50%;
  margin: auto 20px auto 20px;
  box-shadow:  0 0 10px rgb(0, 243, 255, .5);
  position: relative;
  top: 50%;
  left:50%;
  transform:translate(-50%, -0%);
}

.section-bio {
  font-size: 22px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  margin-top: 40px;
  width: 75%;
  border-color: var(--primary-color);
  padding: 0 200px 200px 200px;
}

.section-bio p {
  background-color: var(--secondary-opacity);
  border-radius: 10px;
  border: solid var(--primary-color) 5px;
  padding: 15px;
  box-shadow:  0 0 10px rgb(0, 243, 255, .5);
}

/* Contact Me Styling */

.form-container,
.resume-section {
  top: 50%;
  left: 50%;
  transform: translate(75%, -0%);
  background-color: var(--secondary-opacity);
  border-radius: 10px;
  padding: 15px;
  width: 40vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

#contact-form,
.resume-container {
  top: 50%;
  left: 50%;
  transform: translate(24%, -0%);
}

#contact-form div {
  margin-top: 2em;
}

#contact-form label,
.error-text {
  background-color: var(--secondary-opacity);
  border-radius: 10px;
  border: solid var(--primary-color) 5px;
  padding: 15px;
  box-shadow:  0 0 10px rgb(0, 243, 255, .5);
  color: var(--primary-color);
  margin-right: 40px;
  margin-bottom: var(--spacing-two);
  display: inline-block;
  position: relative;
  font-size: 1.5em;
}

.error-text {
  font-size: .9em;
  border: solid rgb(255, 0, 0) 5px;
  color: #ff0000;
  box-shadow: 0 0 10px rgb(255, 0, 0);
}

#contact-form input,
#contact-form textarea {
  display: inline-block;
  position: relative;
  background-color: black;
  border: solid var(--primary-color) 5px;
  border-radius: 10px;
  box-shadow:  0 0 10px rgb(0, 243, 255, .5);
  color: #00F3FF;
  width: 20vw;
  height: auto;
  font-size: 18px;
  padding: 3px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
}

#contact-form textarea {
  height: 200px;
}

.contact-submit {
  background-image: linear-gradient(145deg,rgba(0, 0, 0, 0.9) 20%, rgba(52, 93, 95, 0.8)40%, rgba(0, 0, 0, 0.9) 75%);
  font-size: 2em;
  color: var(--primary-color);
  margin-top: 25px;
  border: none;
  padding: 10px;
  border: solid var(--primary-color) 5px;
  border-radius: 10px;
  box-shadow:  0 0 10px rgb(0, 243, 255, .5);
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(50%, 0%);
}

.contact-submit:hover {
  background-image:linear-gradient(145deg,rgba(52, 93, 95, 0.9) 20%, rgba(0, 0, 0, 0.9)40%, rgba(52, 93, 95, 0.9) 75%);
}

/* Resume Styling */
.resume-section {
  color: var(--primary-color);
  margin-top: 30px;
  margin-bottom:200px;
}

.resume-download {
  background-color: var(--primary-color);
  color: black;
  padding: 5px;
  border: solid black 3px;
  border-radius: 15px;
  transition: .8s;
}

.resume-download:hover {
  background-color: var(--tertiary-color);
  transition: .5s;
}

/* Footer Styling */
footer {
  padding: 10px 0;
  margin-top: 20px;
  background-color: black;
}

footer ul {
  width: 100%;
}

.footer-item {
  margin-left: 20%;
  display: inline-block;
}

.footer-link {
	color:var(--primary-color);
  text-decoration: none;
  font-size: 3em;
}

.footer-link:hover {
  color: var(--tertiary-color);
  transition: .5s;
}

